<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sytle.css') }}">
     <style>
      body {
  background: #555;
  background-color: #E9F7EF ;
 }

.content {
  max-width: 1500px;
  margin: auto;
  padding: 10px;
  text-align: center;

}
</style>
</head>
<body bgcolor="orange">
   <div class="col-sm-7">
          <table width="1400" border="0" cellspacing="0">
            <thead>
              <tr align="center">
                <th colspan="4"><h2>Top 50 Videos of this channel are :-</h2></th>
              </tr>
            <tr align="center">
                <th><h4>Images</h4></th>
                <th><h4>Titel</h4></th>
                <th><h4>Views</h4></th>
                <th><h4>Likes</h4></th>
              </tr>
            </thead>
            <tbody>
            <form class="" action="/comment" method="post">
               {% for row in results %}

              <tr align="center">
                <td width="400"><img src="{{ row[5] }}" alt="" width="300" height="200"></th>
               <td width="400">

                   <a href="/comment?sid={{row[4]}}" ><b>{{row[2]}}</b></a></td>

                  <td><b>{{row[3]}}</b></td><td><b>{{row[6]}}</b></td>
              </tr>
              {% endfor %}
                </form>
           </tbody>
         </table>

       </div>
</body>
</html>